[submodule "app-shell"]
	path = app-shell
	url = git@bitbucket.org:sentrana/app-shell.git
[submodule "project/sbt-common"]
	path = project/sbt-common
	url = git@bitbucket.org:sentrana/sbt-common.git
[submodule "jenkins"]
	path = jenkins
	url = git@bitbucket.org:sentrana/jenkins-build.git
